{# templates/admin/base_site.html #}
{% extends "admin/base.html" %}

{% block user_tools %}
<div id="user-tools">
    {# Puedes personalizar estos textos y enlaces a tu gusto #}
    <span>¡Hola, {{ user.get_username }}!</span>
    | <a href="{% url 'admin:index' %}">Ir al inicio</a>
    | <a href="{% url 'admin:password_change' %}">Cambiar contraseña</a>
    | <a href="{% url 'admin:logout' %}">Salir</a>
    {# Si no deseas mostrar "Toggle theme" u otros elementos, simplemente no los incluyas #}
</div>
{% endblock %}