{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Exportar Datos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/animado.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="content">
        <h1>Exportar Datos</h1>
        
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Exportar</button>
        </form>
        <div><a href="{% url 'import_excel' %}" class="btn btn-secondary mt-3">Herramienta de Importacion</a> {# Enlace para descargar la plantilla #}</div>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>
